<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Danh sách Đơn vị vận chuyển</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="javascript:;">Cửa hàng</a></li>
                        <li class="breadcrumb-item active">Đơn vị vận chuyển</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Thêm" icon="pi pi-plus" class="p-button-success mr-2"
                        (click)="openNew()"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #input (input)="dt.filterGlobal(input.value, 'contains')"
                            placeholder="Tìm kiếm" />
                    </span>
                </ng-template>
            </p-toolbar>
            <p-table [value]="shippingUnits" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" #dt
                responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]='["order", "name"]'>
                <ng-template pTemplate="header">
                    <tr>
                        <th>STT</th>
                        <th pSortableColumn="order">Thứ tự <p-sortIcon field="order"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">Tên <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="status">Trạng thái <p-sortIcon field="status"></p-sortIcon>
                        </th>
                        <th>Hành động</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-shippingUnit let-i="rowIndex">
                    <tr>
                        <td>{{i + 1}}</td>
                        <td>{{shippingUnit.order}}</td>
                        <td>
                            {{shippingUnit.name}}
                        </td>
                        <td>
                            <b><span *ngIf="shippingUnit.status == 1"
                                    [ngStyle]="{color:'var(--green-600)'}">Bật</span></b>
                            <b><span *ngIf="shippingUnit.status == 0"
                                    [ngStyle]="{color:'var(--red-600)'}">Tắt</span></b>
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                (click)="edit(shippingUnit)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                (click)="delete(shippingUnit)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>







        <form [formGroup]="form">
            <p-dialog [(visible)]="dialog" [style]="{width: '800px'}" header="Đơn vị vận chuyển" [modal]="true"
                styleClass="p-fluid">
                <ng-template pTemplate="content">
                    <input type="hidden" pInputText formControlName="id" />
                    <div class="p-field margin-top-10">
                        <label for="name">Tên</label>
                        <input type="text" pInputText id="name" formControlName="name"
                            [ngClass]="{'is-invalid' : submitted && f.name.errors}" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">
                                Vui lòng nhập Tên
                            </div>
                        </div>
                    </div>
                    <div class="p-field margin-top-10">
                        <label for="order">Thứ tự</label>
                        <input type="number" pInputText id="order" formControlName="order" />
                    </div>
                    <div class="p-field margin-top-10">
                        <label for="status">Trạng thái</label>
                        <br>
                        <p-toggleButton onLabel="Bật" offLabel="Tắt"onIcon="pi pi-check" offIcon="pi pi-times"
                            formControlName="status" [style]="{width: '100px'}"></p-toggleButton>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-success"
                        (click)="save()"></button>
                    <button pButton pRipple label="Huỷ" icon="pi pi-times" class="p-button-danger"
                        (click)="hideDialog()"></button>
                </ng-template>
            </p-dialog>
        </form>
    </section>
</div>