<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Đổi thông tin</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="javascript:;">Cài đặt tài khoản</a></li>
                        <li class="breadcrumb-item active">Đổi thông tin</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <form [formGroup]="form">
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" formControlName="email" readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mật khẩu cũ</label>
                        <input type="password" class="form-control" formControlName="old_password" [ngClass]="{'is-invalid' : submitted && f.old_password.errors}">
                        <div *ngIf="submitted && f.old_password.errors" class="invalid-feedback">
                            <div *ngIf="f.old_password.errors.required">
                                Vui lòng nhập mật khẩu cũ
                            </div>
                            <div *ngIf="f.old_password.errors.minlength">
                                Mật khẩu cũ phải ít nhất 6 ký tự
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mật khẩu mới</label>
                        <input type="password" class="form-control" formControlName="new_password" [ngClass]="{'is-invalid' : submitted && f.new_password.errors}">
                        <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                            <div *ngIf="f.new_password.errors.required">
                                Vui lòng nhập mật khẩu mới
                            </div>
                            <div *ngIf="f.new_password.errors.minlength">
                                Mật khẩu mới phải ít nhất 6 ký tự
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Xác nhận mật khẩu mới</label>
                        <input type="password" class="form-control" formControlName="confirm_password" [ngClass]="{'is-invalid' : submitted && f.confirm_password.errors}">
                        <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                            <div *ngIf="f.confirm_password.errors.required">
                                Vui lòng xác nhận mật khẩu mới
                            </div>
                            <div *ngIf="f.confirm_password.errors.minlength">
                                Mật khẩu xác nhận phải ít nhất 6 ký tự
                            </div>
                        </div>
                    </div>
                    <button type="button" (click)="save()" class="btn btn-primary">Xác nhận</button>
                </form>
            </div>
        </div>
    </section>
</div>